
<main>
    <h1>Logeate!</h1>
    <form action="/almacenado" method="post">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name">
        <label for="sur">Apellido:</label>
        <input type="text" id="sur" name="sur">
        <button type="submit">Pulsa para logeo ficticio</button>
    </form>
</main>